
body{
    display: grid;
    grid: "header" auto
        "nav"       3em
        "main"      auto
        "aside"     auto
        "footer"    auto /
        1fr;

}

@media screen and (min-width: 768px){
    body{
        grid: "header header" auto
                "nav nav"   3em
                "main aside" auto
                "footer footer" auto /
                1fr 2fr;

    }
}

@media screen and (min-width: 1200px){
    body{
        grid: "header header" auto
                "nav nav"   3em
                "aside main" auto
                "footer footer" auto /
                1fr 2fr;

    }
}



header {grid-area: header;}
nav{grid-area: nav;}
main{grid-area: main;}
aside{grid-area:aside;}
footer{grid-area:footer;}

/*End grid css */



