html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

h1 {color:rgb(238, 77, 165);}

.page{display: flex;}

.pageimg{
    background-image: url ("images/ckc_1.jpg");
    background-color: blue;
    display: flex;
    flex-direction: row;
    height: 100%;
    

}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    word-wrap: normal;
}


button#hamburger {
    background: none;
    border: none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
    

}


button#mybutton {
    background-color: rgb(135, 161, 37);
    border-radius: 2px;
    color:rgb(14, 14, 12);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1px 1px 1px 1px;
}


/* THIS IS THE COLORS FOR THE PAGE NAV LIST*/

nav {background-color:grey;
    z-index: 1;}
nav ul {margin:0; padding:0;}
nav ul li {list-style-type: none;}
nav a {
    display: block;
    padding: .2rem 0;
    color:hotpink;
    text-align: left;
    text-decoration: none;
    font-weight: 700;
    background-color:gray;
    
}

nav li.active {background-color: rgba(0,0,0,0.5);}
nav a:hover {background-color: rgba(32, 18, 18, 5);}
nav ul.open {display: block;}
nav ul {display:none;}

footer{
    background-color: grey;
    font-size: small;
}

