html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

h1 {color:rgb(238, 77, 165);}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
}


button#hamburger {
    background: none;
    border: none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;

}

/* THIS IS THE COLORS FOR THE PAGE NAV LIST*/

nav {background-color:grey}
nav ul {margin:0; padding:0;}
nav ul li {list-style-type: none;}
nav a {
    display: block;
    padding: .2rem 0;
    color:hotpink;
    text-align: left;
    text-decoration: none;
    font-weight: 700;
}

